fastapi
uvicorn[standard]
SQLAlchemy==1.4.50
alembic
asyncpg
python-jose[cryptography]
passlib[bcrypt]
PyJWT==2.7.0
pydantic
pydantic-settings
email-validator
requests
python-multipart
cloudinary
python-dotenv
